@import "./variable.css";
@import "./typography.css";

/* GENERAL PAGE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#panel-container {
    background-color: gainsboro;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 30px;
}

.panel-emulation {
    background-color: aliceblue;

    border: 2px solid black;
    padding: 15px;

    min-width: 250px;
    max-width: 300px;

    min-height: 500px;
    max-height: 600px;

    display: flex;
    flex-direction: column;
}

/* SENDER PANEL */
#sender-panel {
    display: flex;
    flex-direction: column;
}

#sender-screen {
    flex: 1;

    border: 2px solid black;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;

    min-height: 100%;
}

#upper-screen {
    border: 1px solid grey;
    padding: 5px;
}

#house-id-div {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 40px;
    margin-bottom: 40px;
}

#buttons-div button{
    width: 150px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: groove;
    border-radius: 3px;
}

#buttons-div button:nth-child(1){
    background-color: var(--color-safe-main);
    border-color: var(--color-safe-border);
    color:  white;
}

#buttons-div button:nth-child(2){
    background-color: var(--color-evacuated-main);
    border-color: var(--color-evacuated-border);
    color:  black;
}

#buttons-div button:nth-child(3){
    background-color: var(--color-immediate-main);
    border-color: var(--color-immediate-border);
    color:  white;
}

#lower-screen {
    display: flex;
    flex-direction: column;
    flex:1;
    gap:5px;
}

#sent-log {
    border: 1px solid grey;
    padding: 5px;
}

#scrollable {
    height:105px;
    max-width: 100%;
    overflow-y: auto;
    padding: 3px;
    border: 1px solid grey;
    padding: 5px;
}

#entry-list {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

/* RECEIVER PANEL */
#receiver-panel {
    display: flex;
    flex-direction: column;
}

#receiver-screen {
    flex: 1;

    border: 2px solid black;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;

    min-height: 100%;
}

#updates-div {
    flex: 2;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border: 1px solid grey;

    padding: 5px;
}

#counter-div {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border: 1px solid grey;

    padding: 5px;
}

.counter-elements {
    display: flex;
    flex-direction: row;
}