@import "./variable.css";

/* GENERAL PAGE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#panel-container {
    background-color: gainsboro;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 30px;
}

.panel-emulation {
    background-color: aliceblue;

    border: 2px solid black;
    padding: 15px;

    min-width: 250px;
    max-width: 300px;

    min-height: 500px;
    max-height: 600px;

    display: flex;
    flex-direction: column;
}


/* RECEIVER PANEL */
#receiver-panel {
    display: flex;
    flex-direction: column;
}

#receiver-screen {
    flex: 1;

    border: 2px solid black;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;

    min-height: 100%;
}

#updates-div {
    flex: 2;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border: 1px solid grey;

    padding: 5px;
}

#counter-div {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border: 1px solid grey;

    padding: 5px;
}

.counter-elements {
    display: flex;
    flex-direction: row;
}