:root {
    /* COLORS */
    /* SAFE */
    --color-safe-main:   #008000;
    --color-safe-border: #046b33;

    /* EVACUATED */
    --color-evacuated-main:   #ffcc00;
    --color-evacuated-border: #f3ab01;
    
    /* IMMEDIATE */
    --color-immediate-main:   #ff0000;
    --color-immediate-border: #ef0000;
}